@using FlightSearch.Models
@using FlightSearch.ViewModels
@model FlightSearch.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Select Flights";
}

<div class="jumbotron">
    <h1>NotUnited Airlines</h1>
    <p class="lead">Our main feature is that we're not them!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Select Departure Airport</h2>
        <div>
            @Html.DropDownListFor(a => a.SelectedDepartureAirport, Model.Airports, "Pick Departure Airport", new { @id = "ddlDepartureAirports", @class = "selectpicker", style = "width=120px", onchange="getFilteredFlights()" })
        </div>
    </div>
    <div class="col-md-4">
        <h2>Select Arrival Airport</h2>
        <div>
            @Html.DropDownListFor(a => a.SelectedArrivalAirport, Model.Airports, "Pick Arrival Airport", new { @id = "ddlArrivalAirports", @class = "selectpicker", style = "width=120px", onchange="getFilteredFlights()" })
        </div>
    </div>
    <div class="col-md-4">
        <h2>Select Sorting Options</h2>
        <select id="sortingDropdown" onchange="getFilteredFlights()">
            <option value="0">Main Cabin: Price Low To High</option>
            <option value="1">Main Cabin: Price High To Low</option>
            <option value="2">First Class: Price Low To High</option>
            <option value="3">First Class: Price High To Low</>
            <option value="4">Departure Time: Early To Late</option>
            <option value="5">Departure Time: Late To Early</option>
        </select>
    </div>
</div>

<div id="errorMessage">
    <h1>Select valid airport parameters to view flights.</h1>
</div>

<table id="displayedFlights">
</table>

<script>
    var requestUrl = '@Url.Action("GetFilteredFlights", "Home")';
</script>

<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="../../Scripts/Flights.js" />